## 파이썬 시작하기

In [1]:
print('Hello World')

Hello World

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [5]:
print('"C:\\Windows"')

"C:\Windows"

In [6]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [7]:
print ("오늘은", "일요일")

오늘은 일요일

In [9]:
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung

In [10]:
print('naver', 'kakao', 'sk', 'samsung', sep = '/')

naver/kakao/sk/samsung

In [12]:
print("first", end = ' ');print("second")

first second

In [13]:
print(5/3)

1.6666666666666667

## 파이썬 변수

In [14]:
삼성전자 = 50000
print(삼성전자 * 10)

500000

In [15]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

In [20]:
s = 'hello'
t = 'python'
print(s+'!',t)

hello! python

In [21]:
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [22]:
year = '2020'
data = int(year)
print(data-2, data-1, data)

2018 2019 2020

In [23]:
month = 48584
print(48584 * 36)

1749024

## 파이썬 문자열

In [24]:
letters = 'python'
print(letters[0], letters[2])

p t

In [29]:
license_plate =  '24가 2210'
print(license_plate[-4:])

2210

In [31]:
string = '홀짝홀짝홀짝'
print(string[0]+string[2]+string[4])

홀홀홀

In [32]:
string = 'PYTHON'
print(string[-1::-1])

NOHTYP

In [36]:
phone_number = '010-1111-2222'
print(phone_number.replace('-', ' '))

010 1111 2222

In [41]:
phone_number = '010-1111-2222'
print(phone_number.replace('-', ''))
print(phone_number)

01011112222
010-1111-2222

In [38]:
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [40]:
string = 'abcdfe2a354a32a'
print(string.replace('a', 'A'))

Abcdfe2A354A32A

In [42]:
a = "3"
b = "4"
print(a + b)

34

In [43]:
print('-' * 80)

--------------------------------------------------------------------------------

In [46]:
t1 = 'python'
t2 = 'java'
t = t1 + ' ' + t2 + ' '
print(t * 4)

python java python java python java python java

In [48]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: %s 나이: %d' % (name1, age1))
print('이름: %s 나이: %d' % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [56]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: {} 나이: {}'.format(name1, age1))
print('이름: {} 나이: {}'.format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [52]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [57]:
상장주식수 = "5,969,782,550"
print(int(상장주식수.replace(',','')))

5969782550

In [59]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [63]:
data = "   삼성전자    "
data.strip()

'삼성전자'

In [64]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [65]:
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [67]:
txt = 'hello'
txt.capitalize()

'Hello'

In [68]:
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

In [71]:
file_name = "보고서.xlsx"
file_name.endswith(('xlsx', 'xls'))

True

In [73]:
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [75]:
a = "hello world"
a.split()

['hello', 'world']

In [76]:
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [77]:
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [78]:
data = "039490     "
data.rstrip()

'039490'

## 파이썬 리스트

In [88]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [89]:
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [90]:
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [91]:
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [92]:
del movie_rank[2]
del movie_rank[2]

In [94]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

In [96]:
langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [99]:
nums = [1, 2, 3, 4, 5, 6, 7]
print('max:',min(nums))
print('min:',max(nums))

max: 1
min: 7

In [100]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [101]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [104]:
nums = [1, 2, 3, 4, 5]
sum(nums) / len(nums)

3.0

In [105]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [107]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [108]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [109]:
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [113]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [115]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
' '.join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [116]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
'/'.join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [118]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [119]:
string = "삼성전자/LG전자/Naver"
string.split('/')

['삼성전자', 'LG전자', 'Naver']

In [123]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

## 파이썬 튜플

In [124]:
my_variable = ()

In [125]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')

In [126]:
t = (1, )

In [127]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [128]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

## 파이썬 딕셔너리

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [3]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, a, b = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [4]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [6]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [8]:
temp = {}
print(type(temp))

<class 'dict'>

In [9]:
a = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [13]:
a['죠스바'] = 1200
a['월드콘'] = 1500
print(a)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [19]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print('메로나 가격:', ice['메로나'])

메로나 가격: 1000

In [20]:
inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [21]:
print(inventory['메로나'][0], '원')

300 원

In [22]:
print(inventory['메로나'][1], '개')

20 개

In [23]:
inventory['월드콘'] = [500, 7]

In [24]:
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [29]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(list(icecream.keys()))

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [28]:
print(icecream.values())
print(list(icecream.values()))

dict_values([1200, 1200, 1800, 1500, 1000])
[1200, 1200, 1800, 1500, 1000]

In [31]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)

In [32]:
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [1]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [2]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

## 파이썬 분기문

In [3]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [4]:
a = input()
print(a*2)

안녕하세요
안녕하세요안녕하세요

In [8]:
a = int(input())
print(a + 10)

30
40

In [9]:
a = int(input())
if a % 2:
    print('홀수')
else:
    print('짝수')

30
짝수

In [11]:
a = int(input())
if a + 20 <= 255:
    print(a + 20)
else:
    print(255)

240
255

In [15]:
a = int(input())
if a - 20 < 0:
    print(0)
elif a - 20 > 255:
    print(255)
else:
    print(a - 20)

300
255

In [18]:
a = input('현재시간:')
if a[3]+a[4] == '00':
    print('정각 입니다')
else:
    print('정각이 아닙니다')

현재시간:03:10
정각이 아닙니다

In [ ]:
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

In [20]:
fruit = ["사과", "포도", "홍시"]
a = input()
if a in fruit:
    print('정답입니다.')
else:
    print('오답입니다')

바나나
오답입니다

In [22]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
a = input()
if a in warn_investment_list:
    print('투자 경고 종목입니다')
else:
    print('투자 경고 종목이 아닙니다')

KT
투자 경고 종목이 아닙니다

In [28]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a = input('제가좋아하는계절은:')
if a in fruit:
    print('정답입니다')
else:
    print('오답입니다')

제가좋아하는계절은:토마토
오답입니다

In [30]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a = input('좋아하는과일은?')
if a in fruit.values():
    print('정답입니다')
else:
    print('오답입니다')

좋아하는과일은?바나나
오답입니다

In [36]:
txt = input()
if txt.islower():
    print(txt.upper())
else:
    print(txt.lower())

B
b

In [38]:
score = int(input())
if score <= 100 and score >= 81:
    print('grade is A')
elif score >= 61:
    print('grade is B')
elif score >= 41:
    print('grade is C')
elif score >= 21:
    print('grade is D')
else:
    print('grade is E')

83
grade is A

In [ ]:
score = input("score: ")
score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

In [43]:
a = input('입력:')
won, name = a.split()

if name == '달러':
    print(int(won) * 1167, '원')
elif name == '엔':
    print(int(won) * 1.096, '원')
elif name == '유로':
    print(int(won) * 1268, '원')
elif name == '위안':
    print(int(won) * 171, '원')

입력:100 달러
116700 원

In [44]:
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력: 100 달러
116700.0 원

In [45]:
num1 = int(input())
num2 = int(input())
num3 = int(input())

if num1 > num2 > num3 or num1 > num3 > num2:
    print(num1)
elif num2 > num1 > num3 or num2 > num3 > num1:
    print(num2)
elif num3 > num2 > num1 or num3 > num1 > num2:
    print(num3)

10
9
20
20

In [ ]:
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

In [49]:
dict = {'011': 'SKT', '016': 'KT', '019': 'LGU', '010': '알수없음'}
num = input('휴대전화 번호 입력:')
com = dict[num[0:3]]

print(f'당신은 {com} 사용자입니다.')

휴대전화 번호 입력:0195113546
당신은 LGU 사용자입니다.

In [ ]:
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

In [52]:
num = int(input('우편번호: ')[2])
if num in [0, 1, 2]:
    print('강북구')
elif num in [3, 4, 5]:
    print('도봉구')
elif num in [6, 7, 8, 9]:
    print('노원구')

우편번호: 67800
노원구

In [54]:
num = int(input('주민등록번호: ')[7])
if num in [1, 3]:
    print('남자')
else:
    print('여자')

주민등록번호: 456879-2486574
여자

In [55]:
주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호: 821010-1635210
남자

In [2]:
a = input('주민등록번호: ')
num = int(a[8]+a[9])
if 0 <= num <= 8:
    print('서울 입니다.')
else:
    print('서울이 아닙니다')

주민등록번호: 821010-1635210
서울이 아닙니다

In [7]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
print(btc)

{'opening_price': '47519000', 'closing_price': '47516000', 'min_price': '47149000', 'max_price': '48152000', 'units_traded': '992.3150672', 'acc_trade_value': '47330833299.8972', 'prev_closing_price': '47435000', 'units_traded_24H': '3218.87498702', 'acc_trade_value_24H': '152758145216.483', 'fluctate_24H': '188000', 'fluctate_rate_24H': '0.4', 'date': '1643741810577'}

In [8]:
시가 = int(btc['opening_price'])
최고가 = int(btc['max_price'])
변동폭 = int(btc['max_price']) - int(btc['min_price'])

if (시가 + 변동폭) > 최고가:
    print('상승장')
else:
    print('하락장')

상승장

## 파이썬 반복문

In [9]:
변수 = [10, 20, 30]
for num in 변수:
    print(num)

10
20
30

In [10]:
for num in [10, 20, 30]:
    print(num)

10
20
30

In [12]:
for num in [10, 20, 30]:
    print(num, '-------')

10 -------
20 -------
30 -------

In [13]:
for i in ['++++', 10, 20, 30]:
    print(i)

++++
10
20
30

In [14]:
for i in range(4):
    print('-------')

-------
-------
-------
-------

In [15]:
리스트 = [100, 200, 300]
for num in 리스트:
    print(num + 10)

110
210
310

In [16]:
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print('오늘의 메뉴:', i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [17]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [18]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [19]:
리스트 = ['dog', 'cat', 'parrot']
for 동물 in 리스트:
    print(동물[0])

d
c
p

In [25]:
리스트 = [1, 2, 3]
for num in 리스트:
    print(f'3 x {num}')

3 x 1
3 x 2
3 x 3

In [26]:
리스트 = [1, 2, 3]
for num in 리스트:
    print('3 x', num, '=', 3 * num)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [27]:
리스트 = ["가", "나", "다", "라"]
for i in range(1, 4):
    print(리스트[i])

나
다
라

In [28]:
리스트 = ["가", "나", "다", "라"]
for i in [0, 2]:
    print(리스트[i])

가
다

In [ ]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :2]:
    print(변수)

In [31]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [32]:
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [35]:
리스트 = [3, 100, 23, 44]
for num in 리스트:
    if num % 3 == 0:
        print(num)

3

In [36]:
리스트 = [13, 21, 12, 14, 30, 18]
for num in 리스트:
    if num % 3 == 0 and num < 20:
        print(num)

12
18

In [37]:
리스트 = ["I", "study", "python", "language", "!"]
for 변수 in 리스트:
    if len(변수) >= 3:
        print(변수)

study
python
language

In [38]:
리스트 = ["A", "b", "c", "D"]
for txt in 리스트:
    if txt.isupper():
        print(txt)

A
D

In [39]:
리스트 = ["A", "b", "c", "D"]
for txt in 리스트:
    if txt.islower():
        print(txt)

b
c

In [41]:
리스트 = ['dog', 'cat', 'parrot']
for 동물 in 리스트:
    print(동물[0].upper() + 동물[1:])

Dog
Cat
Parrot

In [43]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for 변수 in 리스트:
    print(변수.split('.')[0])

hello
ex01
intro

In [44]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
    if 변수.split('.')[1] == 'h':
        print(변수)

intra.h
define.h

In [45]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
    if 변수.split('.')[1] == 'h' or 변수.split('.')[1] == 'c':
        print(변수)

intra.h
intra.c
define.h

In [46]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [47]:
for i in range(2002, 2051):
    if i % 4 == 0:
        print(i)

2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048

In [ ]:
for x in range(2002, 2051, 4) :
    print (x)

In [48]:
for i in range(1, 31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [49]:
for i in range(99, -1,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [55]:
for i in range(10):
    print(f'0.{i}')

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [56]:
for i in range(1, 10):
    print(f'3x{i} =', 3 * i)

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [57]:
for i in range(1, 10, 2):
    print(f'3x{i} =', 3 * i)

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [59]:
total = 0
for i in range(11):
    total += i
print('합 :', total)

합 : 55

In [61]:
total = 0
for i in range(1, 11, 2):
    total += i
print(total)

25

In [62]:
result = 1
for i in range(1, 11):
    result *= i
print(result)

3628800

In [63]:
price_list = [32100, 32150, 32000, 32500]
for i in price_list:
    print(i)

32100
32150
32000
32500

In [64]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [65]:
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [67]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(3 - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [71]:
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [75]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list) - 1):
    print(my_list[i], my_list[i + 1])

가 나
나 다
다 라

In [76]:
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list) -2):
    print(my_list[i], my_list[i + 1], my_list[i + 2])

가 나 다
나 다 라
다 라 마

In [79]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1, 0, -1):
    print(my_list[i], my_list[i - 1])

라 다
다 나
나 가

In [80]:
my_list = [100, 200, 400, 800]
for i in range(len(my_list) - 1):
    print(my_list[i + 1] - my_list[i])

100
200
400

In [83]:
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list) - 2):
    print((my_list[i] +  my_list[i+1] + my_list[i+2]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [84]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [86]:
apart = [['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [87]:
stock = [['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [88]:
stock = {'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [89]:
stock = {'10/10' : [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [98]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [102]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart) -1, -1, -1):
    for j in range(len(apart[i])):
        print(apart[i][j], '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [103]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i:
        print(j, '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [105]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i[::-1]:
        print(j, '호')

302 호
301 호
202 호
201 호
102 호
101 호

In [106]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, '호\n-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [109]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, '호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [110]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, '호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [5]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for i in data:
    for j in i:
        result.append(j + (j * 0.00014))

In [6]:
print(result)

[2000.28, 3050.427, 2050.287, 1980.2772, 7501.05, 2050.287, 2050.287, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086]

In [7]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for i in data:
    b = []
    for j in i:
        b.append(j + (j * 0.00014))
    result.append(b)

In [8]:
print(result)

[[2000.28, 3050.427, 2050.287, 1980.2772], [7501.05, 2050.287, 2050.287, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086]]

In [11]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    print(i[3])

100
190
310

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

In [14]:
for i in ohlc[1:]:
    if int(i[3]) > 150:
        print(i[3])

190
310

In [16]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

In [17]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for i in ohlc[1:]:
    volatility.append(abs(i[1] - i[2]))

In [19]:
print(volatility)

[40, 30, 10]

In [20]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3] > i[0]:
        print(abs(i[1] - i[2]))

10

In [21]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
total = 0
for i in ohlc[1:]:
    total += i[3] - i[0]
print(total)

0

## 파이썬 함수

In [22]:
def print_coin():
    print('비트코인')

In [23]:
print_coin()

비트코인

In [1]:
for i in range(100):
    print_coin()

NameError: name 'print_coin' is not defined

In [2]:
def print_coins():
    for i in range(100):
        print('비트코인')

In [3]:
def print_with_smile(문자열):
    print(문자열 + ':D')

In [5]:
print_with_smile('안녕하세요')

안녕하세요:D

In [6]:
def print_upper_price(가격):
    print(가격 * 1.3)

In [7]:
def print_sum(a, b):
    print(a + b)

In [8]:
def print_arithmetic_operation(a, b):
    print(f'{a} + {b} =', a + b)
    print(f'{a} - {b} =', a - b)
    print(f'{a} * {b} =', a * b)
    print(f'{a} / {b} =', a / b)

In [9]:
print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [11]:
def print_max(a, b, c):
    if a > b and a > c:
        print(a)
    elif b > a and b > c:
        print(b)
    else:
        print(c)

In [12]:
print_max(1, 2, 3)

3

In [13]:
def print_reverse(string):
    print(string[::-1])
print_reverse('python')

nohtyp

In [14]:
def print_score(lst):
    total = 0
    cnt = 0
    for i in lst:
        total += i
        cnt += 1
    print(total / cnt)
print_score ([1, 2, 3])

2.0

In [16]:
def print_even(lst):
    for i in lst:
        if i % 2 == 0:
            print(i)
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [19]:
def print_keys(given_dict):
    for i in given_dict:
        print(i)
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [20]:
def print_value_by_key(my_dict, key):
    for day in my_dict:
        if day == key:
            print(my_dict[key])
    
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [ ]:
def print_value_by_key (my_dict, key) :
    print(my_dict[key])

In [27]:
def print_5xn(string):
    for i in range(len(string) // 5 + 1):
        print(string[i * 5 : i * 5 + 5])
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [31]:
def print_mxn(string, n):
    num = len(string) // n
    for i in range(num + 1):
        print(string[i * n : i * n + 3])
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [32]:
def calc_monthly_salary(annual_salary):
    print(annual_salary // 12)
calc_monthly_salary(12000000)

1000000

In [37]:
def make_url(url):
    return 'www.' + url + '.com'
print(make_url('naver'))

www.naver.com

In [38]:
def make_list(string):
    result = []
    for i in string:
        result.append(i)
    return result
make_list("abcd")

['a', 'b', 'c', 'd']

In [39]:
def pickup_even(lst):
    result = []
    for i in lst:
        if i % 2 == 0:
            result.append(i)
    return result

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [44]:
def convert_int(string):
    return int(string.replace(',', ''))

convert_int("1,234,567")

1234567

## 파이썬 모듈

In [50]:
import datetime

now = datetime.datetime.now()
print(now)

2022-02-02 20:15:19.469736

In [51]:
print(type(now))

<class 'datetime.datetime'>

In [52]:
for day in range(5, 0, -1):
    delta = datetime.timedelta(days = day)
    date = now - delta
    print(date)

2022-01-28 20:15:19.469736
2022-01-29 20:15:19.469736
2022-01-30 20:15:19.469736
2022-01-31 20:15:19.469736
2022-02-01 20:15:19.469736

In [54]:
now = datetime.datetime.now()
print(now.strftime('%H:%M:%S'))

20:17:19

In [56]:
day = '2022-02-02'
ret = datetime.datetime.strptime(day, '%Y-%M-%d')
print(ret, type(ret))

2022-01-02 00:02:00 <class 'datetime.datetime'>

In [57]:
import time

while True:
    now = datetime.datetime.now()
    print(now)
    time.sleep(1)

2022-02-02 20:19:03.467725
2022-02-02 20:19:04.471945
2022-02-02 20:19:05.480675
2022-02-02 20:19:06.481576
2022-02-02 20:19:07.488284
2022-02-02 20:19:08.496511
2022-02-02 20:19:09.506977

KeyboardInterrupt:

In [58]:
import os
ret = os.getcwd()
print(ret, type(ret))

C:\Users\drsuneamer\Desktop <class 'str'>

In [ ]:
import os
os.rename("C:/Users/drsuneamer/Desktop/before.txt", "C:/Users/drsuneamer/Desktop/after.txt")

In [ ]:
import numpy
for i in numpy.arange(0, 5, 0.1):
    print(i)

## 파이썬 클래스

In [78]:
class Human:
    def __init__(self, name, age, gender):
        print('응애응애')
        self.name = name
        self.age = age
        self.gender = gender
        
    def who(self):
        print(f'이름: {areum.name}, 나이: {areum.age}, 성별: {areum.gender}')

In [79]:
areum = Human('아름', 25, '여자')

응애응애

In [71]:
print(f'이름: {areum.name}, 나이: {areum.age}, 성별: {areum.gender}')

이름: 아름, 나이: 25, 성별: 여자

In [80]:
areum.who()

이름: 아름, 나이: 25, 성별: 여자

In [90]:
class Human:
    def __init__(self, name, age, gender):
        print('응애응애')
        self.name = name
        self.age = age
        self.gender = gender
        
    def who(self):
        print(f'이름: {areum.name}, 나이: {areum.age}, 성별: {areum.gender}')
        
    def setinfo(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

In [92]:
>>> areum = Human("모름", 0, "모름")
>>> areum.setinfo("아름", 25, "여자")
areum.who()

응애응애
이름: 아름, 나이: 25, 성별: 여자

In [95]:
class Human:
    def __init__(self, name, age, gender):
        print('응애응애')
        self.name = name
        self.age = age
        self.gender = gender
        
    def who(self):
        print(f'이름: {areum.name}, 나이: {areum.age}, 성별: {areum.gender}')
        
    def setinfo(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def __del__(self):
        print('나의 죽음을 알리지 말라')

In [96]:
>>> areum = Human("아름", 25, "여자")
>>> del areum

응애응애
나의 죽음을 알리지 말라

In [98]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

In [99]:
삼성 = Stock("삼성전자", "005930")

In [117]:
class Stock:
    def __init__(self, name, code, PER, PBR, profit):
        self.name = name
        self.code = code
        self.PER = PER
        self.PBR = PBR
        self.profit = profit
        
    def set_name(self, name):
        self.name = name
        
    def set_code(self, code):
        self.code = code
        
    def set_PER(self, PER):
        self.PER = PER
        
    def set_PBR(self, PBR):
        self.PBR = PBR
        
    def set_devidend(self, profit):
        self.profit = profit
        
    def get_name(self):
        print(self.name)
        
    def get_code(self):
        print(self.code)

In [102]:
a = Stock(None, None)
a.set_name("삼성전자")
print(a.name)

삼성전자

In [104]:
a = Stock(None, None)
a.set_code("005930")
print(a.code)

005930

In [109]:
삼성 = Stock("삼성전자", "005930")
삼성.get_name()
삼성.get_code()

삼성전자
005930

In [118]:
삼성 = Stock('삼성전자', '005930', 15.79, 1.33, 2.83)

In [121]:
삼성.set_PER(12.75)
print(삼성.PER)

12.75

In [123]:
삼성 = Stock('삼성전자', '005930', 15.79, 1.33, 2.83)
현대 = Stock('현대차', '005380', 8.70, 0.35, 4.27)
LG = Stock('LG전자', '066570', 317.34, 0.69, 1.37)

lst = [삼성, 현대, LG]

for i in lst:
    print(i.code)
    print(i.PER)

005930
15.79
005380
8.7
066570
317.34

In [1]:
import random

class Account:
    account_count = 0
    
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC은행'
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)
        
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_number = num1 + '-' + num2 + '-' + num3
        
        Account.account_count += 1
        
        @classmethod
        def get_acccount_num(cls):
            print(cls.account_count)
            
        def deposit(self, money):
            if money >= 1:
                self.balance += money
                
        def withdraw(self, withdraw):
            if withdraw < self.balance:
                self.balance -= withdraw
                
        def display_info(self):
            print('은행이름:', self.bank)
            print('예금주:', self.name)
            print('계좌번호:', self.account_number)
            print('잔고:', self.balance.format('#,###'), '원')

In [2]:
kim = Account('김민수', 100)
kim.display_info()

AttributeError: 'Account' object has no attribute 'display_info'

In [3]:
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)


p = Account("파이썬", 10000)
p.display_info()

은행이름:  SC은행
예금주:  파이썬
계좌번호:  909-41-037312
잔고:  10000

In [6]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
car = 차(2, 1000)
car.바퀴

2

In [14]:
class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계
        
    def 정보(self):
        print('바퀴수', self.바퀴)
        print('가격', self.가격)
        print('구동계', self.구동계)

In [9]:
class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)
        
    def 정보(self):
        print('바퀴수', self.바퀴)
        print('가격', self.가격)

In [10]:
car = 자동차(4, 1000)
car.정보()

바퀴수 4
가격 1000

In [15]:
bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100
구동계 시마노

In [16]:
class 부모:
    def 호출(self):
        print("부모호출")

class 자식(부모):
    def 호출(self):
        print("자식호출")


나 = 자식()
나.호출()

자식호출

In [17]:
class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")

나 = 자식()

자식생성

In [19]:
class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")
        super().__init__()

나 = 자식()

자식생성
부모생성

## 파일 입출력과 예외처리

In [ ]:
f = open("C:/Users/drsuneamer/Desktop/매수종목1.txt", mode="wt", encoding="utf-8")
f.write("005930\n")
f.write("005380\n")
f.write("035420")
f.close()

In [ ]:
f = open("C:/Users/drsuneamer/Desktop/매수종목2.txt", mode="wt", encoding="utf-8")
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER\n")
f.close()

In [20]:
import csv

f = open("C:/Users/drsuneamer/Desktop/매수종목.csv", mode="wt", encoding="cp949", newline='')
writer = csv.writer(f)
writer.writerow(["종목명", "종목코드", "PER"])
writer.writerow(["삼성전자", "005930", 15.59])
writer.writerow(["NAVER", "035420", 55.82])
f.close()

In [ ]:
f = open("C:/Users/drsuneamer/Desktop/매수종목1.txt", encoding="utf-8")
lines = f.readlines()   # python list

codes = []
for line in lines:
    code = line.strip()  #'\n'
    codes.append(code)

print(codes)

f.close()

In [21]:
f = open("C:/Users/drsuneamer/Desktop/매수종목2.txt", encoding="utf-8")
lines = f.readlines()

data = {}
for line in lines:
    line = line.strip()     # '\n' 제거
    k, v = line.split()
    #print(k, v)
    data[k] = v

print(data)
f.close()

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/drsuneamer/Desktop/매수종목2.txt'